#kyoto {
    filter: blur(20px);
    webkit-filter: blur(20px);
}

@keyframes word1 {
    0% {
        filter: blur(0px);
        webkit-filter: blur(0px);
    }
    50% {
        filter: blur(20px);
        webkit-filter: blur(20px);
        }
    100% {
        filter: blur(0px);
        webkit-filter: blur(0px);
    }
}

@keyframes word2 {
    0% {
        filter: blur(20px);
        webkit-filter: blur(20px);
    }
    50% {
        filter: blur(0px);
        webkit-filter: blur(0px);
        }
    100% {
        filter: blur(20px);
        webkit-filter: blur(20px);
    }
}


#tokyo {
position: relative;
animation-name: word1;
animation-duration: 2s;
animation-iteration-count: infinite;
}

#kyoto {
position: relative;
animation-name: word2;
animation-duration: 2s;
animation-iteration-count: infinite;
}
