
    @keyframes kobe {
        0% {width: 3vw;}
        50% {width: 0;}
        100% {width: 3vw;}
    }

    @keyframes size {
        0% {font-size: calc(16px + 25vw);}
        50% {font-size: calc(16px + 33vw);}
        100% {font-size: calc(16px + 25vw);}
    }


#kobe {
    display: flex;
    justify-content: center;

    text-transform: uppercase;

    animation-name: size;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.child h2 {
    display: block;
    padding: 15px;
    font-size: 40px;
    margin: 0;
}

#stage {
        height: 95vh;
}




.letter {
    /*opacity: 0.8;*/
}

.zwischenraum {
    animation-name: kobe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
