h1 {
    font-size: calc(16px + 20vw);
}

/* --------------------- MIXINS: ANIMATIONS --------------------- */

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}



@include keyframes(moveIt) {
  0% { left: -10px; }
  50% { left: 10px; }
  100% { left: -10px; }
}


.moveIt {
    position: relative;
    @include animation('moveIt 7s infinite');
}
