

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes typo {
  0% {
      transform: scale(0.5);
  }
  50% {
      transform: scale(1.5);
  }
  100% {
      transform: scale(0.5);
  }
}

h1 {
    font-size: calc(16px + 8vw);
    text-align: center;
    -webkit-animation: typo 10s linear infinite;
    -moz-animation: typo 10s linear infinite;
    -ms-animation: typo 10s linear infinite;
    -o-animation: typo 10s linear infinite;
    animation: typo 10s linear infinite;
}



.ontop {
    width: 50vw;
    height: 1.5vh;
    -webkit-animation: rotation 100s linear infinite;
    -moz-animation: rotation 100s linear infinite;
    -ms-animation: rotation 100s linear infinite;
    -o-animation: rotation 100s linear infinite;
    animation: rotation 100s linear infinite;
}
